body{
    background-color:rgb(67,21,105);
}
.heading {
    background-color: #c9622a;
    width: 150px;
    height: 120px;
    font-size: 1em;
    margin-left: 30px;
    padding: 1% 2% 3% 4%;
}
.para {
    background-color: rgba(51,170,51,0.3);
    width: 50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.box{
    background-color: aquamarine;
    width: 250px;
    height: 100px;
    margin: 100px 300px 40px 50px;
    border: 10px solid black; /*width style colour*/
    border-radius: 15%;

}
/*display */
h3{
    width: 50px;
    
}
div{
    width: 100px;
    height: 100px;
}
*{
    margin: 0px;
}
.bbox{
    width: 100px;
    height: 100px;
    margin: 3%;
    background-color: bisque;
    position: fixed;
}
.bbox {
    background-color: lavender;
}